<footer class="text-lg-start">
  <div *ngIf="showTopFooter" class="top-footer">

    <div class="row">

      <div class="col-4 left-footer d-flex justify-content-end align-items-center">
        <img src="../../../../assets/images/emur/logoEmurVertical.png" style="height: 75%;"
          [attr.alt]="'menu.header.image.logo'" />
      </div>

      <div class="col-4 d-flex align-items-center" style="max-height: 250px;">

        <ul class="list-unstyled mb-0">

          <li>
            <p>
              <a class="text-footer"
                href="https://www.google.com/maps/place/Av.+Oliveira+Lima,+867+-+Boa+Vista,+Recife+-+PE,+50050-390/@-8.0569376,-34.8882325,19z/data=!4m16!1m9!3m8!1s0x7ab18c1c70aab1d:0x793ec0ef8e2f13a6!2sAv.+Oliveira+Lima,+867+-+Boa+Vista,+Recife+-+PE,+50050-390!3b1!8m2!3d-8.0572285!4d-34.8880968!10e5!16s%2Fg%2F11jsjm7pqk!3m5!1s0x7ab18c1c70aab1d:0x793ec0ef8e2f13a6!8m2!3d-8.0572285!4d-34.8880968!16s%2Fg%2F11jsjm7pqk?entry=ttu&g_ep=EgoyMDI1MTAwOC4wIKXMDSoASAFQAw%3D%3D"
                target="_blank" style="text-decoration: underline;">Avenida Oliveira Lima, 867, Boa Vista, Recife -
                PE</a>
            </p>
          </li>

          <li>
            <p class="text-footer"> E-mail:
              <a class="text-footer" href="mailto:emur.urbrecife@gmail.com" style="text-decoration: underline;"
                target="_blank">emur.urbrecife&#64;gmail.com</a>
            </p>
          </li>

          <li>
            <p class="text-footer"> Desenvolvido com o
              <a class="text-footer" href="https://dspace.org" style="text-decoration: underline;"
                target="_blank">DSpace 8</a>
            </p>
          </li>

          <li>
            <p class="text-footer">Estação da Memória Urbanística (EMUR)</p>
          </li>

        </ul>

      </div>

      <div class="right-footer col-4 d-flex flex-wrapd align-items-center">

        <div class="col-5"> </div>

        <div class="col-7">
          <p class="right-footer-text"> <a routerLink="./community-list" class="right-footer-text" role="link"
              tabindex="0">Comunidades e Coleções</a>
          </p>
          <p class="right-footer-text"> <a routerLink="./statistics" class="right-footer-text" role="link"
              tabindex="0">Estatísticas</a></p>
          <p class="right-footer-text"> <a routerLink="./about" class="right-footer-text" role="link"
              tabindex="0">Sobre</a>
          </p>
        </div>

      </div>

    </div>

  </div>

  <div class="bottom-footer p-1 d-flex justify-content-center align-items-center text-white">
    <div class="content-container">
      <img class="n-coar" src="../../../../assets/images/emur/logos-rodape.png" [attr.alt]="'menu.header.image.logo'" />
    </div>
  </div>

</footer>