:host {

  .navbar-expand {
    justify-content: flex-end;
  }

  .nav {
    background-color: transparent;
    border-radius: 10px;
    background-image: url('../../assets/images/emur/navbar.svg');
    background-size: cover;
    background-repeat: round;
    color: #f4edd7 !important;
  }

  #main-site-header {

    font-family: "ITC Bauhaus";
    font-size: x-large;
    // font-weight: 700;

    position: fixed;
    width: 100%;
    z-index: 99;

    min-height: var(--ds-header-height);

    @include media-breakpoint-up(md) {
      height: var(--ds-header-height);
    }

    background-color: transparent;

    // &-container {
    //   min-height: var(--ds-header-height);
    // }

  }

  img#header-logo {
    height: var(--ds-header-logo-height);
  }

  button#navbar-toggler {
    color: var(--ds-header-icon-color);

    &:hover,
    &:focus {
      color: var(--ds-header-icon-color-hover);
    }
  }

}