@font-face {
  font-family: 'BR Omny';
  src: url('../../../assets/fonts/BROmny-Regular-BF65557eb88143f.otf');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'BR Omny';
//   src: url('../../../assets/fonts/BROmny-SemiBold-BF65557eb890e9a.otf');
//   font-style: SemiBold;
// }

@font-face {
  font-family: 'BR Omny';
  src: url('../../../assets/fonts/BROmny-Bold-BF65557eb88a83f.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BR Omny';
  src: url('../../../assets/fonts/BROmny-RegularItalic-BF65557eb88d058.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'ITC Bauhaus';
  src: url('../../../assets/fonts/itc-bauhaus-bold.otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ITC Bauhaus';
  src: url('../../../assets/fonts/itc-bauhaus-medium.otf');
  font-weight: normal;
  font-style: normal;
}