<div class="background-image-container mt-ncs">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">URB</h1>
          <p class="lead">Repositório Institucional da Autarquia de Urbanização do Recife</p>
        </div>
      </div>
      <ul>
        <li>
          Projeto de instalação da versão DSpace8
        </li>
      </ul>
      <p>The test user accounts below have their password set to the name of this
        software in lowercase.</p>
      <ul>
        <li>Demo Site Administrator = dspacedemo+admin&#64;gmail.com</li>
        <li>Demo Community Administrator = dspacedemo+commadmin&#64;gmail.com</li>
        <li>Demo Collection Administrator = dspacedemo+colladmin&#64;gmail.com</li>
        <li>Demo Submitter = dspacedemo+submit&#64;gmail.com</li>
      </ul>
    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp"
      srcset="assets/dspace/images/recife-1024x576.jpeg 2000w, assets/dspace/images/recife-1024x576.jpeg 1200w, assets/dspace/images/recife-1024x576.jpeg 768w">
    <source type="image/jpg"
      srcset="assets/dspace/images/recife-1024x576.jpeg 2000w, assets/dspace/images/recife-1024x576.jpeg 1200w, assets/dspace/images/recife-1024x576.jpeg 768w">
    <img alt=""
      [src]="'assets/dspace/images/recife-1024x576.jpeg'" /><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
  <small class="credits">Photo by <a href="https://www.pexels.com/@inspiredimages">&#64;inspiredimages</a></small>
</div>